

<div class="new-story-gift">
  <div class="new-story-gift__dot"></div>
</div>
{% schema %}
{
  "name": "Dotted Separator",
  "settings": [],
  "presets": [
    {
      "name": "Dotted Separator",
      "category": "Text"
    }
  ]
}
{% endschema %}